*{
box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    align-items: center;
}

.popup p {
    width: 100%;
    text-align: center;
}

.box {
    width: calc(100% / 2 - 20px);
    background-color: #f2f2f2;
    padding: 0.5em 1em;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
}
.content {
    padding: 20px 40px;
}

@media screen and (min-width: 992px) {
    .box {
        width: calc(100% / 6 - 20px);
    }
    .content {
        padding: 40px 80px;
    }
  }